@model List<ResultProductWithCategoryDto>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
    int sirano = 0;
}

<div class="page-content">
    <div class="container-fluid">

        <!-- start page title -->
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Ürün Listesi</h4>
                        <p class="card-subtitle mb-4">
                            Ürün ile ilgili işlemleri buradan gerçekleştirebilirsiniz.
                        </p>
                        <div class="table-responsive">
                            <table class="table mb-0">
                                <thead>
                                    <tr>
                                        <th>Sıra No</th>
                                        <th>Ürün Adı</th>
                                        <th>Eski Fiyat</th>
                                        <th>Yeni Fiyat</th>
                                        <th>Kategori Adı</th>
                                        <th>Durum</th>
                                        <th>İşlem</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var x in Model)
                                    {
                                        <tr>
                                            <td>
                                                @{
                                                    sirano++;
                                                } @sirano
                                            </td>
                                            <td>@x.ProductName</td>
                                            <td>@x.OldPrice</td>
                                            <td>@x.NewPrice</td>
                                            <td>@x.category.CategoryName</td>

                                            @if (@x.Status == true)
                                            {
                                                <td><a href="/Admin/Produc/ChangeToStatusFalse/@x.ProductId" class="btn btn-outline-warning">Pasif Yap</a></td>
                                            }
                                            else
                                            {
                                                <td><a href="/Admin/Produc/ChangeToStatusTrue/@x.ProductId" class="btn btn-outline-success">Aktif Yap</a></td>
                                            }

                                            <td>

                                                <a href="/Admin/Produc/DeleteProduct/@x.ProductId/" class="btn btn-outline-danger">Sil</a>
                                                <a href="/Admin/Produc/UpdateProduct/@x.ProductId/" class="btn btn-outline-info">Güncelle</a>

                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                        <a href="/Admin/Produc/CreateProduct/" class="btn btn-outline-success">Ekle</a>
                    </div>
                </div>

            </div>

        </div>

    </div>
</div>

